// Variables
@import 'variables';

// General
* { box-sizing: border-box;}
body {
  font-family: sans-serif;
  min-height: 100vh;
}
html, body {
  margin: 0;
  padding: 0;
}
a, h1, h2, h3, h4, h5, h6, ul, li, p {padding: 0; margin: 0}
a {text-decoration: none;}

.display-grid { display: grid !important; }
.display-flex { display: flex !important; }
.display-block { display: block !important; }
.display-none { display: none !important; }

@import 'components/product/product'
